body {
  background-color: white;
}

.intro-container {
  display: flex;
  align-items: center;
  background-color: rgb(203, 203, 203);
  align-items: flex-start;
}

.intro-generic-img-container {
  background-image: url("/assets/temp-generic-image.webp");
  background-size: cover;
  background-position: center;
  height: 45rem;
  margin: 0;
  width: 100%;
}

.intro-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
  margin-top: 8rem;
  text-align: left;
}

#description {
  color: black;
  font-size: 2.1rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 2rem;
}

#description-2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  max-width: 80%;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 2rem;
}

#description-list {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  max-width: 80%;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 2rem;
}

#description-list ul {
  padding-left: 0;
  list-style-position: inside;
}

#analysis-page-btn {
  padding: 0rem 2rem;
  margin-left: 5rem;
  background-color: #493e8f9f;
}

#analysis-page-btn:hover {
  background-color: #493e8f;
  cursor: pointer;
}

.coming-soon-message {
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

#contact-ryan {
  color: rgb(0, 0, 0);
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 0px 1px 4px 1px #7e84a4;
  padding: 0.5vw;
  font-size: clamp(12px, 1.2vw, 18px);
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease-in-out;
}

#geo-analysis,
#thick-analysis {
  background-color: rgb(203, 203, 203);
  border-radius: 8px;
  box-shadow: 0px 2px 8px 02px #7e84a4;
  padding: 1vw;
  font-size: large;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    box-shadow: 0px 2px 8px 2px #7e84a4;
  }
  50% {
    box-shadow: 0px 4px 18px 4px #7e84a4;
  }
  100% {
    box-shadow: 0px 2px 8px 2px #7e84a4;
  }
}

#geo-analysis:hover,
#thick-analysis:hover {
  animation: glowing 1s;
  cursor: default;
}

p {
  text-align: left;
}

ul,
li {
  text-align: left;
}

.use-cases {
  text-align: left !important;
}

#geo-analysis h2,
#thick-analysis h2 {
  font-size: clamp(1.5rem, 2.3vw, 2.7rem);
}

#geo-analysis p,
#geo-analysis li,
#thick-analysis p,
#thick-analysis li {
  font-size: clamp(0.8rem, 1.3vw, 1.4rem);
}

.landing-prefooter {
  background-color: #7e84a4;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 15vh;
}

#landing-start-prefooter h2 {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: flex-start;
  padding-left: 5rem;
}

#landing-start-prefooter p {
  font-size: large;
  padding-left: 5rem;
  padding-right: 5rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

#landing-start-prefooter {
  border-radius: 10px 0 0 10px;
  margin-bottom: 4.5rem;
  background: linear-gradient(to right, #7e84a4 0%, #9fa4bb 100%);
}

#landing-end-prefooter {
  border-radius: 0 10px 10px 0;
  margin-bottom: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #9fa4bb 0%, white 60%);
}

#impeller-image {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 1753px) {
  #landing-start-prefooter h2 {
    padding-left: 4rem;
  }
  #landing-start-prefooter p {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1700px) {
  #landing-start-prefooter h2 {
    padding-left: 3.5rem;
  }
  #landing-start-prefooter p {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media screen and (max-width: 1630px) {
  #landing-start-prefooter h2 {
    padding-left: 3rem;
  }
  #landing-start-prefooter p {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 1600px) {
  #landing-start-prefooter h2 {
    padding-left: 2.5rem;
  }
  #landing-start-prefooter p {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 1520px) {
  #landing-start-prefooter h2 {
    padding-left: 2rem;
  }
  #landing-start-prefooter p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 1344px) {
  #landing-start-prefooter h2 {
    padding-left: 1.6rem;
  }
  #landing-start-prefooter p {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}

@media screen and (max-width: 1250px) {
  #landing-start-prefooter h2 {
    padding-left: 1.2rem;
  }
  #landing-start-prefooter p {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

@media screen and (max-width: 1150px) {
  #landing-start-prefooter h2 {
    padding-left: 0.8rem;
  }
  #landing-start-prefooter p {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

@media screen and (max-width: 1050px) {
  #landing-start-prefooter h2 {
    padding-left: 0.5rem;
  }
  #landing-start-prefooter p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media screen and (max-width: 991px) {
  #landing-start-prefooter h2 {
    padding-left: 2rem;
  }
  #landing-start-prefooter p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #landing-start-prefooter {
    margin-bottom: 0;
    border-radius: 10px;
    background: #7e84a4;
  }
  #landing-end-prefooter {
    margin-top: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, #7e84a4, white);
  }
  #contact-ryan {
    font-size: 2vw;
  }
  .intro-description-container {
    margin-top: 3rem;
    order: 1;
    padding-bottom: 50px;
  }
  .intro-generic-img-container {
    order: 2;
    height: 30rem;
  }
  #geo-analysis p,
  #geo-analysis li,
  #thick-analysis p,
  #thick-analysis li {
    font-size: large;
  }
}

@media (max-width: 768px) {
  #contact-ryan {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  #landing-start-prefooter {
    border-radius: 0;
  }
  #landing-end-prefooter {
    border-radius: 0;
  }
  #description {
    margin-left: 2.5rem;
  }
  #description-2 {
    margin-left: 2.5rem;
  }
  #description-list {
    margin-left: 2.5rem;
  }
  #analysis-page-btn {
    margin-left: 3.5rem;
  }
}

@media (max-width: 480px) {
  #description {
    font-size: 30px;
    margin-left: 2rem;
  }
  #description-2 {
    font-size: 18px;
    margin-left: 2rem;
  }
  #description-list {
    font-size: 15px;
    margin-left: 2rem;
  }
  #contact-ryan {
    font-size: 15px;
  }
  #analysis-page-btn {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 450px) {
  #geo-analysis p,
  #geo-analysis li,
  #thick-analysis p,
  #thick-analysis li,
  #landing-start-prefooter p {
    font-size: medium;
  }
}

@media screen and (max-width: 410px) {
  #impeller-image {
    width: 95%;
    height: auto;
  }
}

@media screen and (max-width: 347px) {
  #landing-start-prefooter h2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 330px) {
  #description {
    font-size: 25px;
    margin-left: 1.5rem;
  }
  #description-2 {
    font-size: 16px;
    margin-left: 1.5rem;
  }
  #description-list {
    font-size: 15px;
    margin-left: 1.5rem;
  }
  #contact-ryan {
    font-size: 15px;
  }
  #analysis-page-btn {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 285px) {
  #landing-start-prefooter h2 {
    font-size: 1rem;
  }
}
