#model-viewer-container {
  position: absolute;
  height: 100%;
  width: 97%;
  margin-top: 12px;
}

#model-canvas {
  width: 100%;
  height: 100%;
  border: 1px dotted #493e8f;
  border-radius: 15px;
}

@media (max-width: 1325px) {
  #model-viewer-container {
    width: 97%;
    margin-left: 4px;
  }
}

@media (max-width: 1295px) {
  #model-viewer-container {
    width: 95%;
    margin-left: 15px;
  }
}

@media (max-width: 1250px) {
  #model-viewer-container {
    width: 94%;
    margin-left: 28px;
  }
}

@media (max-width: 1210px) {
  #model-viewer-container {
    width: 93%;
    margin-left: 37px;
  }
}

@media (max-width: 1160px) {
  #model-viewer-container {
    width: 92%;
    margin-left: 39px;
  }
}

@media (max-width: 1130px) {
  #model-viewer-container {
    width: 91%;
    margin-left: 50px;
  }
}

@media (max-width: 1090px) {
  #model-viewer-container {
    width: 91%;
    margin-left: 48px;
  }
}

@media (max-width: 1030px) {
  #model-viewer-container {
    width: 91%;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  #model-viewer-container {
    position: relative;
    width: 98.5%;
    margin-top: 0px;
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  #model-viewer-container {
    width: 98.2%;
  }
}

@media (max-width: 576px) {
  #model-viewer-container {
    width: 98%;
  }
}

@media (max-width: 500px) {
  #model-viewer-container {
    width: 97.8%;
  }
}

@media (max-width: 435px) {
  #model-viewer-container {
    width: 100%;
    height: 275px;
    margin-left: -1px;
  }
}
