#model-viewer-container {
  height: 100%;
  width: 98.5%;
  margin-top: 12px;
}

#model-canvas {
  width: 100%;
  height: 100%;
  border: 1px dotted #493e8f;
  border-radius: 15px;
}

@media (max-width: 768px) {
  #model-viewer-container {
    margin-top: 0px;
    margin-left: 5px;
  }
}

@media (max-width: 425px) {
  #model-viewer-container {
    width: 100%;
    height: 275px;
    margin-left: 0px;
  }
}
