#geo-hoverInfo-thick-container {
  margin-left: 16px;
  position: relative;
}

#hoverInfo-container {
  margin-top: 12px;
}

#hoverInfo-span {
  font-size: 0.8rem;
  color: black;
}

#hoverInfo-span {
  cursor: default;
}

#hoverInfo-icon {
  color: #493e8f;
}

.upload-view-info-row {
  margin-top: 40px;
  margin-bottom: 3rem;
}

@media (max-width: 370px) {
  .upload-view-info-row {
    margin-top: 20px;
  }
  #geo-hoverInfo-thick-container {
    margin-left: 0px;
  }
}
