#geo-hoverInfo-thick-container {
  margin-left: 16px;
  position: relative;
}

#hoverInfo-container {
  margin-top: 12px;
}

#hoverInfo-span {
  font-size: 0.8rem;
  color: black;
}

#hoverInfo-icon {
  color: #3e498f;
}

#model-viewer-container {
  height: 100%;
  width: 98%;
  margin-top: 12px;
}

#view-parts-button-container {
  height: 100%;
  width: 97.5%;
}

#upload-view-info-row {
  margin-top: 40px;
}

#upload-part-button-container {
  margin-left: 16px;
}
