#geo-start-button.ant-btn {
  background-color: #3e498f;
}

#geo-start-button.ant-btn[disabled] {
  opacity: 0.4 !important;
  color: white !important;
}

#geo-start-button .ant-spin-dot-item {
  background-color: #3e498f;
}
