#geo-start-button.ant-btn {
  background-color: #493e8f;
}

#geo-start-button.ant-btn[disabled] {
  opacity: 0.4 !important;
  color: white !important;
}

#geo-start-button .ant-spin-dot-item {
  background-color: #493e8f;
}

#geo-checkmark-icon {
  position: absolute;
  left: 5.6rem;
  top: 15%;
  color: green;
  font-size: 24px;
}

#geo-failure-icon {
  position: absolute;
  left: 5.6rem;
  top: 15%;
  color: rgb(129, 1, 1);
  font-size: 24px;
}

#geo-spin-icon {
  margin-left: 10px;
}
