.loginregister-font {
  font-family: "Roboto", sans-serif;
}

.form-layout {
  box-shadow: 0px 0px 25px 0px #d4dafd;
  border-radius: 10px;
}

.loginregister-toggle {
  color: #5e69a7;
  font-weight: bold;
}

.loginregister-toggle:hover {
  color: #3f2090;
  cursor: pointer;
}

.custom-btn {
  background-color: #1b1f1fc7;
  color: white;
}

.custom-btn:hover {
  background-color: #000000d4;
  border: none;
  color: white !important;
  cursor: pointer;
}

@media (max-width: 467px) {
  .forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-form-forgot {
    margin-top: 0.3rem;
  }
}
