#parts-list-container {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 16px;
}

#view-parts-button {
  width: 100%;
  height: 100%;
  border-color: #493e8f;
  color: #493e8f;
  font-size: 2rem;
}

#view-parts-button:hover {
  background-color: rgba(128, 128, 128, 0.191);
  border: 1px solid white;
  text-shadow: #493e8f 0 0 35px;
}

.ant-modal-title {
  color: #493e8f !important;
  text-align: center;
  display: block;
  font-size: 25px !important;
  text-shadow: #493e8f 0 0 35px;
}

.ant-list-item-meta-title {
  transition: all 0.3s ease;
}

.part-list-item-row:hover {
  background-color: rgba(128, 128, 128, 0.191);
  border-radius: 5px;
  cursor: pointer;
}

.part-list-item-row:hover .ant-list-item-meta-title {
  color: #493e8f !important;
  text-shadow: #493e8f 0 0 35px;
  transform: translate(10%) scale(1.1);
}

#download-icon {
  font-size: 1.5rem;
  color: #493e8f;
}

.ant-btn-link:hover {
  cursor: grab;
}

.ant-btn-link:hover #download-icon {
  color: green;
  cursor: grab;
}
