#thick-analysis-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#thick-analysis-box {
  background-color: rgba(128, 128, 128, 0.191);
  border-radius: 15px;
  position: absolute;
  width: 100%;
  top: 105%;
}

#thick-analysis-box .ant-statistic-content-value {
  background-color: #f0f2f5;
  padding: 4px 8px;
  border-radius: 4px;
}

#thick-analysis-box .ant-statistic-title {
  color: #000;
}

#thick-top-row {
  margin-bottom: 25px;
}

#thin-area-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#thick-bottom-row {
  margin-top: 15px;
}

#thick-start-button {
  width: 6rem;
}

#decimal-input-container {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

#threshold-input-label {
  margin-right: 10px;
}

#threshold-input-label:hover,
#thin-area-message-container:hover,
#thick-analysis-box .ant-statistic-title:hover,
#thick-analysis-title:hover,
#threshold-mm:hover {
  cursor: default;
}

#listOfThicknessData-container {
  position: relative;
  max-height: 34px;
  overflow-y: auto;
  margin-top: 5px;
  margin-left: 5px;
  padding-bottom: 5px;
  scroll-snap-type: y mandatory;
}

/* TODO: figure out how to apply below styles to non-webkit browsers, aka firefox 
while keeping them available to webkit browsers */

#listOfThicknessData-container::-webkit-scrollbar {
  width: 10px;
}
#listOfThicknessData-container::-webkit-scrollbar-track {
  background: transparent;
}

#listOfThicknessData-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#listOfThicknessData-container::-webkit-scrollbar-thumb:hover {
  background: #6a73a3;
}

#listOfThicknessData-container .ant-col {
  scroll-snap-align: start;
}

.ant-segmented-item {
  border: 1px solid #6a73a3;
  margin-right: 0.5em;
}

.ant-segmented-item:last-child {
  margin-right: 0;
}

.ant-segmented-item-selected {
  background-color: #6a73a3 !important;
  color: white !important;
  border-color: #6a73a3 !important;
}

@media (max-width: 1460px) {
  #threshold-input-label {
    margin-right: 2px;
    font-size: 13px;
  }
  #threshold-mm {
    font-size: 13px;
  }
}

@media (max-width: 1370px) {
  #threshold-input-label {
    margin-right: 2px;
    font-size: 12.5px;
  }
  #threshold-mm {
    font-size: 12px;
  }
  #decimal-input-container .ant-input {
    font-size: 13px !important;
    height: 32px;
    width: 82.59px;
  }
}

@media (max-width: 1310px) {
  #threshold-input-label {
    margin-right: 2px;
    font-size: 12px;
  }
  #threshold-mm {
    font-size: 11.5px;
  }
  #decimal-input-container .ant-input {
    font-size: 12.5px !important;
  }
}

@media (max-width: 1280px) {
  #threshold-mm {
    margin-right: -7px;
  }
}

@media (max-width: 1225px) {
  #threshold-mm {
    margin-right: -10px;
  }
}

@media (max-width: 1205px) {
  #threshold-mm {
    font-size: 10.5px;
  }
}

@media (max-width: 1192px) {
  #threshold-input-label {
    margin-right: 1px;
    font-size: 11.5px;
  }
}

@media (max-width: 1174px) {
  #decimal-input-container .ant-input {
    font-size: 12px !important;
  }
}

@media (max-width: 1160px) {
  #threshold-mm {
    margin-right: -13px;
  }
}

@media (max-width: 1140px) {
  #threshold-mm {
    margin-right: -15px;
  }
}
