#upload-part-button-container {
  height: 159.06px;
  margin-left: 16px;
}

.ant-upload-drag {
  width: 100%;
  max-height: 159.06px;
  border: 1px solid #493e8f !important;
  background-color: white !important;
}

.ant-upload-drag:hover {
  border: 1px solid white !important;
  background-color: rgba(128, 128, 128, 0.191) !important;
}

#drag-icon {
  color: #493e8f !important;
  transition: font-size 0.3s ease;
}

.ant-upload-drag:hover .ant-upload-text {
  color: #493e8f !important;
  text-shadow: #493e8f 0 0 35px;
}

.ant-upload-text,
.ant-upload-hint {
  transition: all 0.3s ease;
}

#upload-part-button-container .ant-upload-drag-container {
  position: relative;
  bottom: 14px;
}

@media (max-width: 667px) {
  #drag-icon {
    font-size: 35px !important;
  }
  .ant-upload-text {
    font-size: 15px !important;
  }
  .ant-upload-hint {
    font-size: 12px !important;
    padding-bottom: 15px;
  }
  #upload-part-button-container .ant-upload-drag-container {
    position: relative;
    bottom: 10px;
  }
}

@media (max-width: 600px) {
  #drag-icon {
    display: none;
  }
  .ant-upload-hint {
    padding-bottom: 5px;
  }
  #upload-part-button-container .ant-upload-drag-container {
    position: relative;
    bottom: 0px;
  }
}

@media (max-width: 435px) {
  #upload-part-button-container {
    height: 75.35px;
    margin-left: 2px;
  }
  .ant-upload-text {
    font-size: 13.3px !important;
    color: #493e8f !important;
  }
  .ant-upload-hint {
    font-size: 8px !important;
    padding-bottom: 10px;
  }
  #upload-part-button-container .ant-upload-drag-container {
    position: relative;
    bottom: 25px;
  }
}

@media (max-width: 370px) {
  .ant-upload-text {
    font-size: 12px !important;
    color: #493e8f !important;
  }
  .ant-upload-hint {
    font-size: 8px !important;
    padding-bottom: 7px;
  }
}

@media (max-width: 303px) {
  .ant-upload-text {
    font-size: 11px !important;
    color: #493e8f !important;
  }
  .ant-upload-hint {
    font-size: 7px !important;
    padding-bottom: 6px;
  }
}

@media (max-width: 289px) {
  .ant-upload-text {
    font-size: 10px !important;
    color: #493e8f !important;
  }
  .ant-upload-hint {
    font-size: 6px !important;
    padding-bottom: 4px;
  }
}

@media (max-width: 272px) {
  .ant-upload-text {
    font-size: 9px !important;
    color: #493e8f !important;
  }
  .ant-upload-hint {
    font-size: 6px !important;
    padding-bottom: 5px;
  }
}
