body {
  background-color: rgb(250, 234, 213);
}

.App-header {
  color: red;
}

/* #logo {
  width: 25vw;
  height: 25vw;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
} */

#logo-container {
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.logo-half {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  background-size: 200% 100%;
  background-image: url("assets/logo.png");
  transition: transform 1s ease-out;
}

.left-half {
  background-position: right;
  left: 0%;
}

.right-half {
  background-position: left;
  right: 0%;
}

.logo-animate .left-half {
  transform: translateX(100%);
}

.logo-animate .right-half {
  transform: translateX(-100%);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1:hover {
  cursor: default;
}

#geo-analysis,
#thick-analysis {
  background-color: #bcb1a2;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 2px #9f7b7b;
  padding: 1vw;
  font-size: large;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    box-shadow: 0px 2px 8px 2px #9f7b7b;
  }
  50% {
    box-shadow: 0px 4px 18px 4px #9f7b7b;
  }
  100% {
    box-shadow: 0px 2px 8px 2px #9f7b7b;
  }
}

#geo-analysis:hover,
#thick-analysis:hover {
  animation: glowing 1s;
  cursor: default;
}

p {
  text-align: left;
}

ul,
li {
  text-align: left;
}

.use-cases {
  text-align: left !important;
}
